<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="card">
            <div class="card-content">
              <p id="card__quote" class="title"> </p>
              <p id="card__author" class="subtitle"> </p>
            </div>
            <footer class="card-footer">
              <a id="random-quote" class="card-footer-item">Random Quote</a>
              <a id="tweet-quote" class="card-footer-item" target="_blank">Tweet Quote</a>
            </footer>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
