.vertical-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid #000;
  padding: 1em;
}

.card__quote {
  font: 1em Helvetica,sans-serif;
}

.card__author {
  font: 1em Helvetica,sans-serif;
}

#tweet-quote {
  -moz-appearance: button;
  appearance: button;
}
